name: Build

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]
    paths-ignore:
      - "README.md"
      - ".github/workflows/**.yml"
      - "docs/**"
      - "**/*.md"
      - "**/*.yml"

env:
  DOTNET_VERSION: "7.0.x"
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build-and-test:
    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore Shop.sln

      - name: Build
        run: dotnet build Shop.sln --nologo --no-restore --configuration Release

      - name: Test
        run: dotnet test Shop.sln --nologo --no-build --no-restore --configuration Release --verbosity minimal
